services:
  prometheus:
    image: docker.io/prom/prometheus:v3.9.1
    container_name: prometheus
    restart: unless-stopped
    
    # Networking
    ports:
      - 9090:9090

    # Filesystem
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    
    # Security
    security_opt:
      - no-new-privileges:true  # forbid privilege escalation
    
    # Environment
    environment:
      PUID: 1000
      PGID: 1000
      TZ: ${TIMEZONE:-Europe/Stockholm}
    

volumes:
  prometheus-data:
    driver: local
