services:
  portainer:
    image: portainer/portainer-ee:lts
    container_name: portainer
    restart: unless-stopped
    
    # Networking
    ports:
      - 8443:9443
      - 8000:8000

    # Filesystem
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    
    # Security
    security_opt:
      - no-new-privileges:true  # forbid privilege escalation
    
    # Environment
    environment:
      PUID: 1000
      PGID: 1000
      TZ: ${TIMEZONE:-Europe/Stockholm}

volumes:
  portainer_data:

networks:
  default:
    name: portainer_network