TIMEZONE=Europe/Stockholm

VPN_SERVICE_PROVIDER=
SERVER_CITIES=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=

RADARR_URL=https://radarr.local.jabbas.dev
SONARR_URL=https://sonarr.local.jabbas.dev

# Generate with new: openssl rand -hex 16
RADARR_API_KEY=
SONARR_API_KEY=