# Verified working with rootless docker (run with docker compose up -d)

services:
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:2.1.3
    restart: unless-stopped

    # Networking
    ports:
      - 3001:3001

    # Filesystem
    volumes:
      - ./data:/app/data
    
    # Security
    security_opt:
      - no-new-privileges:true  # forbid privilege escalation
    
    # Environment
    environment:
      PUID: 1000
      PGID: 1000
      TZ: ${TIMEZONE:-Europe/Stockholm}