OLLAMA_BASE_URL=https://ollama.local.jabbas.dev
DATABASE_URL=postgresql://postgress:POSTGRES_PASSWORD@owui-database/postgress # Need to change POSTGRES_PASSWORD to the correct postgres password
# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
POSTGRES_PASSWORD=
SEARXNG_HOSTNAME=searxng.local.jabbas.dev
COMFYUI_BASE_URL=comfyui.local.jabbas.dev
COMFYUI_WORKFLOW=none