# Warning! Watch setup guide before you deploy (docs/traefik-setup.md)

services:
  traefik:
    container_name: traefik
    image: traefik:3.6
    restart: unless-stopped

    # Networking
    networks:
      - traefik
    ports:
      - 80:80
      - 443:443
    
    # Filesystem
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

      # Static config in repo
      - ./data/traefik.yml:/traefik.yml:ro
      - ./data/config.yml:/config.yml:ro

      # ACME state must persist on host (NOT in git) (referance to docs/traefik-setup.md)
      - /srv/docker/traefik/acme.json:/acme.json

      # Logs shared with CrowdSec
      - traefik-logs:/var/log/traefik
      

    # Security
    security_opt:
      - no-new-privileges:true  # forbid privilege escalation
    
    # Environment
    environment:
      TZ: ${TIMEZONE:-Europe/Stockholm}

      # Service specific
      TRAEFIK_DASHBOARD_CREDENTIALS: ${TRAEFIK_DASHBOARD_CREDENTIALS}
      CF_API_EMAIL: ${CF_API_EMAIL} # Cloudflare Email
      CF_DNS_API_TOKEN: ${CF_DNS_API_TOKEN} # Cloudflare API Token
      CROWDSEC_BOUNCER_API_KEY: ${CROWDSEC_BOUNCER_API_KEY}
    
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=${TRAEFIK_DASHBOARD_CREDENTIALS}"
      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik.local.jabbas.dev`)"
      - "traefik.http.routers.traefik-secure.middlewares=forwardAuth-authentik@file,traefik-auth@docker"
      - "traefik.http.routers.traefik-secure.service=api@internal"

  crowdsec:
    container_name: crowdsec
    image: crowdsecurity/crowdsec:v1.7.6
    restart: unless-stopped
    depends_on:
      - traefik

    # Networking
    networks:
      - traefik

    # Filesystem
    volumes:
      - ./config/acquis.yaml:/etc/crowdsec/acquis.yaml:ro
      - crowdsec-db:/var/lib/crowdsec/data/
      - crowdsec-config:/etc/crowdsec/
      - traefik-logs:/var/log/traefik/:ro
    
    # Security
    security_opt:
      - no-new-privileges:true  # forbid privilege escalation

    # Environment
    environment:
      PUID: 1000
      PGID: 1000
      TZ: ${TIMEZONE:-Europe/Stockholm}

      # Service specific
      GID: 1000
      COLLECTIONS: "crowdsecurity/linux crowdsecurity/traefik"

networks:
  traefik:
    name: traefik

volumes:
  traefik-logs:
  crowdsec-db:
  crowdsec-config:
  
